@model ASP_Project.ViewModels.StudentCourseViewModel
@{
	ViewData["Title"] = "Drop";
}
<center>
	<div class="card w-75 mx-auto text-center" style="margin: 20px;">
		<div class="card-header">
			Drop a Course
		</div>
		<form method="post" role="form">
			<div class="card-body container">
				<div class="form-group row">
					<label asp-for="CourseID" class="col-form-label col-3"></label>
					<select asp-for="CourseID" class="form-control col-6">
						<option value="" disabled selected>Select Course</option>
						@foreach (var item in Model.Enrollment)
					{
						<option value="@item">@item</option>
				}
					</select>
					<div class="form-group col-2">
						<button type="submit" class="btn btn-primary">Drop</button>
					</div>
				</div>
			</div>
		</form>
		<div>
			<a asp-action="Index" class="btn btn-link btn-primary">Back to Menu</a>
		</div>
	</div>
</center>