
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-controller="Student" asp-action="RegisterCourse">Enlist in a new Course</a>
<a asp-controller="Student" asp-action="Drop">Drop a Course</a>
<a asp-controller="Student" asp-action="ListCourses">List Registered Courses</a>
<a asp-controller="Student" asp-action="ListGrades">Check Grades</a>

