@model ASP_Project.ViewModels.StudentRegisterViewModel
@{
	ViewData["Title"] = "RegisterCourse";
}
<center>
	<div class="card w-75 mx-auto text-center" style="margin: 20px;">
		<div class="card-header">
			Register in a Course
		</div>
		<form asp-action="RegisterCourse">
			<div class="card-body container">
				<div class="form-group row">
					<label asp-for="Courses" class="col-form-label col-3"></label>
					<select asp-for="CourseID" class="form-control col-6">
						<option value="" disabled>Select a Course</option>
						@foreach (var course in Model.Courses)
						{
							<option value="@course.CodeID">@course.Name</option>
						}
					</select>
					<span asp-validation-for="Courses" class="text-danger"></span>
					<div class="form-group col-2">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</div>
			</div>
		</form>
		<div>
			<a asp-action="Index" class="btn btn-link btn-primary">Back to Menu</a>
		</div>
	</div>
	@section Scripts {
		@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
</center>