@model ASP_Project.ViewModels.TeacherGradingModel
@{
	ViewData["Title"] = "Grade";
}
<div>
	<h2>Grade</h2>
	<form asp-action="GradeByCourse" method="post">
		<select asp-for="CourseID">
			<option value="" disabled selected>Select a Course</option>
			@foreach (var item in Model.Courses)
			{
				<option value="@item.CodeID">@item.Name</option>
			}
		</select>
		<input type="submit" value="Select Course" class="btn btn-primary" />
		<input type="hidden" value="@Model.CourseID" asp-for="CourseID" />
	</form>
</div>