
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-controller="Teacher" asp-action="Courses">Check list of Courses</a><br />
<a asp-controller="Teacher" asp-action="Manage">Create a new Course</a><br />
<a asp-controller="Teacher" asp-action="Grade">Grade a Student</a><br />

