<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"] - ASP Project</title>
	<link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/now-ui-kit-v1.1.0/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/now-ui-kit-v1.1.0/assets/css/now-ui-kit.css" rel="stylesheet" />
	<link href="~/now-ui-kit-v1.1.0/assets/css/demo.css" rel="stylesheet" />
	<script src="~/now-ui-kit-v1.1.0/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="~/now-ui-kit-v1.1.0/assets/js/core/popper.min.js"></script>
	<script src="~/now-ui-kit-v1.1.0/assets/js/core/bootstrap.min.js"></script>
	<script src="~/now-ui-kit-v1.1.0/assets/js/now-ui-kit.js"></script>
	<style>
		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 30px white inset;
		}
	</style>
</head>
<body class="bg-dark">
	<div class="wrap">
		<nav class="navbar navbar-expand-lg bg-default" style="margin-bottom: 0">
			<div class="container">
				<div class="navbar-translate">
					<p class="navbar-brand font-weight-bold text-white">ASP.Net Project</p>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar bar1"></span>
						<span class="navbar-toggler-bar bar2"></span>
						<span class="navbar-toggler-bar bar3"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse justify-content-end" id="navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
								Home
							</a>
						</li>
						@await Html.PartialAsync("_LoginPartial")
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">
								Contact us
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
		</div>
			@RenderBody()
		<footer></footer>
	</div>
	<!--
	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
	<environment include="Development">
		<script src="~/lib/js/jquery-3.3.1.js"></script>
		<script src="~/lib/js/bootstrap.bundle.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/js/jquery-3.3.1.min.js"></script>
		<script src="~/lib/js/bootstrap.bundle.min.js"></script>
	</environment>
	-->
	@RenderSection("Scripts", required: false)
</body>
</html>