@using Microsoft.AspNetCore.Identity
@using ASP_Project.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (User.IsInRole("Student"))
{
	<!-- Student -->
	<li class="nav-item dropdown">
		<a asp-controller="Student" asp-action="Index" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
			<i class="now-ui-icons files_paper" aria-hidden="true"></i>
			<p>Student</p>
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Index">
				Student Page
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Drop">
				Drop
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="ListCourses">
				Check courses
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="ListGrades">
				Check grades
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="RegisterCourse">
				Register in a course
			</a>
		</div>
	</li>
}
@if (User.IsInRole("Teacher"))
{
	<!-- Teacher -->
	<li class="nav-item dropdown">
		<a asp-controller="Teacher" asp-action="Index" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
			<i class="now-ui-icons files_paper" aria-hidden="true"></i>
			<p>Teacher</p>
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Index">
				Teacher Page
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Courses">
				Check courses
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Grade">
				Check grade
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Manage">
				Create a course
			</a>
		</div>
	</li>
}
@if (User.IsInRole("Admin"))
{
	<!-- Admin -->
	<li class="nav-item dropdown">
		<a asp-controller="Admin" asp-action="Index" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
			<i class="now-ui-icons files_paper" aria-hidden="true"></i>
			<p>Admin</p>
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">
				Admin Page
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Manage">
				Create a course
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">
				Create a user
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Courses">
				List of courses
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Teachers">
				List of teachers
			</a>
			<a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Students">
				List of students
			</a>
		</div>
	</li>
}
<!-- Account -->
@if (SignInManager.IsSignedIn(User))
{
	<div class="border-info">
		<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="" style="">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					@if (User.IsInRole("Admin"))
					{
						<a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-btn nav-link" title="Manage">Hello @UserManager.GetUserName(User)!</a>
					}
					@if (User.IsInRole("Student"))
					{
						<a asp-area="" asp-controller="Student" asp-action="Index" class="nav-btn nav-link" title="Manage">Hello @UserManager.GetUserName(User)!</a>
					}
					@if (User.IsInRole("Teacher"))
					{
						<a asp-area="" asp-controller="Teacher" asp-action="Index" class="nav-btn nav-link" title="Manage">Hello @UserManager.GetUserName(User)!</a>
					}
				</li>
				<li class="nav-item">
					<button type="submit" class="btn nav-link">Log out</button>
				</li>
			</ul>
		</form>
	</div>
}
else
{
	<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}