@{
	ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="h-100 jumbotron text-center">
	<br />
	<br />
	<h1 class="display-1">Welcome</h1>
	<br />
	<br />
	@if (!SignInManager.IsSignedIn(User))
	{
		<h1 class="display-2 align-text-bottom">
			<a asp-controller="Account" asp-action="Login" class="btn btn-outline-danger btn-primary">
				Get Started
			</a>
		</h1>
	}
</div>