@model ASP_Project.Models.Course
@{
	ViewData["Title"] = "EditCourse";
}
<center>
	<div class="card w-75 mx-auto text-center" style="margin: 20px;">
		<form asp-controller="Admin" asp-action="EditCourse" method="post" class="form-horizontal" role="form">
			<div class="card-header h4 font-weight-light">
				Add a course
			</div>
			<input type="hidden" asp-for="CodeID" />
			<div class="card-body form-group">
				<div class="form-group row">
					<label asp-for="Name" class="control-label col-2"></label>
					<input asp-for="Name" class="form-control col-9" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group row">
					<label asp-for="NumOfCredits" class="control-label col-2"></label>
					<input asp-for="NumOfCredits" class="form-control col-9" />
					<span asp-validation-for="NumOfCredits" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>

	<div>
		<a asp-action="Courses">Back to List</a>
	</div>

	@section Scripts {
		@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
</center>