@model ASP_Project.ViewModels.CourseViewModel
@{
	ViewData["Title"] = "Manage";
}
<center>
	<div class="card w-75 mx-auto text-center" style="margin: 20px;">
		<form asp-controller="Admin" asp-action="Manage" method="post" class="form-horizontal" role="form">
			<div class="card-header h4 font-weight-light">
				Add a course
			</div>
			<div class="card-body form-group">
				<div class="form-group row">
					<label asp-for="CodeID" class="col-form-label col-2"></label>
					<input asp-for="CodeID" class="form-control col-9" />
					<span asp-validation-for="CodeID" class="text-danger"></span>
				</div>
				<div class="form-group row">
					<label asp-for="Name" class="col-form-label col-2"></label>
					<input asp-for="Name" class="form-control col-9" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group row">
					<label asp-for="NumOfCredits" class="col-form-label col-2"></label>
					<input asp-for="NumOfCredits" class="form-control col-9" />
					<span asp-validation-for="NumOfCredits" class="text-danger"></span>
				</div>
				<div class="form-group row">
					<label asp-for="TeacherId" class="col-2 control-label"></label>
					<div class="col-9">
						<select asp-for="TeacherId" class="form-control" required>
							<option value="" disabled selected>Select Teacher</option>
							@foreach (var teach in Model.Teachers)
							{
								<option value="@teach.TeacherID"> @teach.FirstName, @teach.MiddleName, @teach.LastName </option>
							}
						</select>
						<span asp-validation-for="TeacherId" class="text-danger"></span>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Add</button>
			</div>
		</form>
	</div>
	@section Scripts {
		@await Html.PartialAsync("_ValidationScriptsPartial")
	}
</center>